<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Maven View" sequenceNumber="22">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
	
		<repository location="http://download.eclipse.org/releases/2018-12"/>
		
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.11.0.v20180823-0905"/>
		<unit id="org.eclipse.emf.edit.feature.group" version="2.14.0.v20180823-0456"/>
		<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jdt.junit.runtime" version="0.0.0"/>
		<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
		<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.10.0.v201811122225"/>
		<unit id="org.eclipse.wst.common.project.facet.core" version="0.0.0"/>
		<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.12.0.v201811122127"/>
		<unit id="org.eclipse.xsd" version="0.0.0"/>
		
		<unit id="com.google.guava" version="0.0.0"/>
		<unit id="org.apache.log4j" version="0.0.0"/>
		<unit id="org.hamcrest.core" version="0.0.0"/>
		<unit id="org.hamcrest.library" version="0.0.0"/>
		<unit id="org.junit" version="0.0.0"/>
	</location>
	
	<!-- SWT Bot Dependencies -->
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>

		<unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.0.0.202006031738"/>
		<unit id="org.eclipse.swtbot.feature.group" version="3.0.0.202006031738"/>
	</location>
</locations>
<environment>
	<os>win32</os>
	<ws>win32</ws>
	<arch>x86_64</arch>
</environment>
</target>